<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
<h3> Initial Step </h3>
You only need to register one user and you can test the same account against the different log in forms.

<h3>Tools</h3>
I recommend you use the follow browser extension to modify the cookie. <br>
<a href="https://chrome.google.com/webstore/detail/cookie-editor/hlkenndednhfkekhgcdicdfddnkalmdm?hl=en"> Cookie-Editor [Chrome] </a> <br>
<a href="https://addons.mozilla.org/en-GB/firefox/addon/cookie-editor/"> Cookie-Editor [Firefox] </a>

	<h3> Writing Scripts</h3>
	<p>
		For writing the scripts, you can use a wide variety of languages. This web application is written in ruby. You can use 'ruby-jwt' to create your scripts. <a href="https://github.com/jwt/ruby-jwt"> Link to Github </a>
	</p>
	<p>
		Other languages such as PHP and Python are possible to use. The scripts are not too complex so it is worth writing them from scratch if you want to practice programming skills.
	</p>
</div>

    </div>
</div>
