<% provide(:title, "Home") %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
There are multiple vulnerabilities exist within JSON Web Tokens. This is a quick and easy lab for you to understand the fundamentals of JWTs and how to exploit them. Visit the help page for further information.    </div>
    </div>
</div>