<h1>Labs - The algorithm none is available</h1>
<b>Goal: Register a user and gain access to the admin user.</b>
<div class="col-md-5">
	<p>
	The code may allow the "None" algorithm. Surprising!
	<div class="alert alert-info" role="alert">
	  <%= current_user()=%>
	</div>
	</p>
</div>
<%= render 'layouts/login' %>