<h1>Labs - The signature is weak</h1>
<b>Goal: Register a user and gain access to the admin user.</b>
<div class="col-md-5">
	<p>
	Developers might have a weak signature for the signature of the JWT.
	<div class="alert alert-info" role="alert">
	  <%= current_user()=%>
	</div>
	</p>
</div>
<%= render 'layouts/login' %>