@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
	position: inherit,
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}