<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Help", help_path%></li>
        <li><%= link_to "Challenges", challenges_path %></li>
        <li><%= link_to "Users", '/users' %></li>
      </ul>
    </nav>
  </div>
</header>